<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>

    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
        <testsuite name="API">
            <directory>tests/API</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>external</group>
        </exclude>
    </groups>
</phpunit>
